.appear {
  opacity: 0;
}
.accordion:has(:checked) .appear {
  animation: appearAccordion 150ms;
  opacity: 1;
}
@keyframes appearAccordion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
